
.headerWrapper {
  width: 100%;
  .headerComponentsContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    Navigation {
      width: 35%;
      ::ng-deep .mat-tab-header-pagination {
        @media screen and (max-width: 768px) {
          display: none;
        }
      }
      @media screen and (max-width: 992px) {
        width: 40%;
      }
    }
    .headerTitle {
      position: relative;
      top: 15px;
      h1 {
        font-size: 250%;
        font-weight: bold;
      }
      @media screen and (max-width: 1200px) {
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: center;
        top: 75px;
        h1 {
          font-size: 200%;
        }
      }
    }
    Currency {
      width: 35%;
    }
  }
}
