:host {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;;
  .summeryContainer {
    position: absolute;
    top: 150px;
    width: 75%;
    text-align: center;
    border-radius: 1em;
  }
}
