<section class="itemsTableComponent">
  <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
    <!--Delivery Tab-->
    <mat-tab label="Delivery">
      <Delivery
      [displayedColumns]="tableColumns"
      [storeNames]="tablesOnlineStores"
      ></Delivery>
    </mat-tab>
    <!--Archives Tab-->
    <mat-tab label="Archive Items">
      <Archives
      [displayedColumns]="tableColumns"
      [storeNames]="tablesOnlineStores"
      ></Archives>
    </mat-tab>
  </mat-tab-group>
  <!-- <Loader *ngIf="isLoading$ | async"></Loader> -->
</section>
