:host {
    z-index: 11111;
    position: absolute;
    backdrop-filter: blur(5px);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
  .spinnerContainer {
    width: 100%;
    height: 100%;
    opacity: 0.8;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff3e1;
    ::ng-deep mat-spinner {
      svg {
        circle.ng-star-inserted{
          stroke: #121f3f !important;
        }
      }
    }
  }
}
