@use "@angular/material" as mat;
@include mat.core();
$shopping-tracking-list-primary: mat.define-palette(mat.$indigo-palette);
$shopping-tracking-list-accent: mat.define-palette(
  mat.$pink-palette,
  A200,
  A100,
  A400
);
$shopping-tracking-list-warn: mat.define-palette(mat.$red-palette);
$shopping-tracking-list-theme: mat.define-light-theme(
  (
    color: (
      primary: $shopping-tracking-list-primary,
      accent: $shopping-tracking-list-accent,
      warn: $shopping-tracking-list-warn,
    ),
  )
);
@include mat.all-component-themes($shopping-tracking-list-theme);


//Initial App Settings
$initial: rgb(60, 60, 60);

html,
body {
  height: 100%;
}
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
