
<div class="dialogFormWrapper">
  <h2 mat-dialog-title>Add New Item</h2>
  <form [formGroup]="dialogForm" class="dialogForm">
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Item Name</mat-label>
        <input matInput type="text" formControlName="itemName">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Item Name</mat-label>
        <input matInput type="text" formControlName="store">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Item Name</mat-label>
        <input matInput type="text" formControlName="price">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Item Name</mat-label>
        <input matInput type="text" formControlName="reciveDateInformation">
      </mat-form-field>
    </div>
  </form>
</div>




<!-- <mat-dialog-content class="mat-typography"> -->
  <!-- <h3>Develop across all platforms</h3> -->
  <!-- <p>An app's components typically define many views, arranged hierarchically. Angular provides -->
  <!-- the Router service to help you define navigation paths among views. The router provides -->
  <!-- sophisticated in-browser navigational capabilities.</p> -->
<!-- </mat-dialog-content> -->
<!-- <mat-dialog-actions align="end"> -->
<!--  -->
<!-- </mat-dialog-actions> -->

<!-- <button mat-button mat-dialog-close>Cancel</button> -->
<!-- <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button> -->
